# ClusterAI 2020
# Ciencia de Datos - Ingenier√≠a Industrial - UTN BA
# clase_12 (parte 2): Conectando Python con SQL
### Elaborado por: Agustin Velazquez

# IMPORT

In [32]:
import sqlite3
import os
import pandas as pd
import csv

Cambiamos el directorio al cual sea de nuestra conveniencia para que nuestra DB se guarde en esa carpeta

In [40]:
cwd = os.getcwd()
cwd

'C:\\Users\\avelazquez\\Documents\\ClusterAI\\Clase Base de Datos'

In [41]:
os.chdir(r'C:\Users\avelazquez\Documents\ClusterAI\Clase Base de Datos')

# CARGA DE DATOS

In [4]:
conn = sqlite3.connect('autosdb.sqlite')
cur = conn.cursor()

In [5]:
cur.execute('DROP TABLE IF EXISTS alquila')

In [6]:
cur.execute('''
CREATE TABLE alquila (dni INTEGER, patente TEXT, fechar DATE, fechad DATE, ciudad TEXT)''')

In [7]:
cur.execute('DROP TABLE IF EXISTS auto')
cur.execute('''
CREATE TABLE auto (patente TEXT, marca TEXT, modelo DATE, color TEXT)''')

In [9]:
cur.execute('DROP TABLE IF EXISTS cliente')

In [10]:
# cliente.csv la vamos a subir directamente usando DB browser y SQL Lite
# 1. Vamos a open DB y buscamos el archivo autosdb.slite
# 2. Vamos a execute SQL y de la misma manera que las tablas anteriores hacemos primero un DROP y luego CREATE 
# de la tabla cliente

Una vez creadas las tablas vamos a popularlas

In [12]:
fname_alquila = r'C:\Users\avelazquez\Documents\ClusterAI\Clase Base de Datos\Data\alquila.csv'
fh_alquila = open(fname_alquila)

In [13]:
for idx,line in enumerate(fh_alquila): 
    if idx != 0:
        row = cur.fetchone()
        dni = line.split(';')[0]
        patente = line.split(';')[1]
        fechar = line.split(';')[2]
        fechad = line.split(';')[3]
        ciudad = line.split(';')[4]
        if row is None:
            cur.execute("INSERT INTO alquila VALUES (?, ?, ?, ?, ?)", (dni, patente, fechar, fechad, ciudad))
    else:
        continue

In [14]:
cur.execute("SELECT * FROM alquila")
print(cur.fetchall())

[(44, 'vip195', '2015-03-15 09:31:03', '2015-03-21 15:04:16', 'BARILOCHE\n'), (35, 'fyi654', '2015-03-10 08:00:00', '2015-03-15 17:24:11', 'CABA\n'), (32, 'fyi654', '2015-01-14 16:20:09', '2015-01-20 10:14:15', 'CABA\n'), (32, 'aka654', '2015-02-14 08:25:55', '2015-02-18 11:00:05', 'VIEDMA\n'), (27, 'omg987', '2015-03-20 12:14:43', '2015-03-24 14:12:00', 'ROSARIO\n'), (35, 'lol123', '2015-02-02 09:05:22', '2015-02-12 09:10:00', 'MENDOZA\n'), (32, 'lol123', '2015-01-05 10:15:22', '2015-01-05 18:21:33', 'CORDOBA\n'), (27, 'fyi654', '2015-02-04 10:16:06', '2015-02-04 16:24:22', 'CABA\n'), (27, 'lol123', '2015-07-04 09:23:58', '2015-07-08 09:34:17', 'CORDOBA\n'), (27, 'fyi654', '2015-02-10 11:30:30', '2015-02-11 11:29:00', 'CABA\n'), (12, 'mib111', '2015-04-08 08:10:34', '2015-04-10 08:09:10', 'USHUAIA\n'), (12, 'mib111', '2015-04-15 19:20:21', '2015-04-16 11:12:13', 'USHUAIA\n'), (12, 'mib111', '2015-04-20 15:22:23', '2015-04-24 14:52:25', 'USHUAIA\n')]

In [15]:
conn.commit()

In [16]:
fname_auto = r'C:\Users\avelazquez\Documents\ClusterAI\Clase Base de Datos\Data\auto.csv'

In [17]:
with open(fname_auto, newline='') as f:
    reader = csv.reader(f,delimiter = ';')
    next(reader)
    data = [tuple(row) for row in reader]

print(data)

[('aka654', 'VW', 'Suran', 'beige'), ('fyi654', 'Chevrolet', 'Corsa', 'gris'), ('lol123', 'Honda', 'Civic', 'beige'), ('mib111', 'Honda', 'Civic', 'azul'), ('omg987', 'Ford', 'Fiesta', 'azul'), ('vip195', 'VW', 'Vento', 'gris')]

In [18]:
cur.executemany('INSERT INTO auto (patente,marca,modelo,color) VALUES (?,?,?,?)', data)

In [19]:
sqlstr = "SELECT * FROM auto"
for row in cur.execute(sqlstr):
    print(str(row))

('aka654', 'VW', 'Suran', 'beige')
('fyi654', 'Chevrolet', 'Corsa', 'gris')
('lol123', 'Honda', 'Civic', 'beige')
('mib111', 'Honda', 'Civic', 'azul')
('omg987', 'Ford', 'Fiesta', 'azul')
('vip195', 'VW', 'Vento', 'gris')

In [26]:
conn.commit()

In [27]:
#Ahora que ya sabemos como hacerlo cargamos el ultimo archivo
fname_cliente = r'C:\Users\avelazquez\Documents\ClusterAI\Clase Base de Datos\Data\cliente.csv'

with open(fname_cliente, newline='') as f_cliente:
    reader_cliente = csv.reader(f_cliente,delimiter = ';')
    next(reader_cliente)
    data_cliente = [tuple(row) for row in reader_cliente]
print(data_cliente)
    
cur.executemany('INSERT INTO cliente VALUES (?,?,?)', data_cliente)

sqlstr = "SELECT * FROM cliente"
for row in cur.execute(sqlstr):
    print(str(row))

[('12', 'Greta Baez', 'USHUAIA'), ('27', 'Santiago Lopez', 'LA PLATA'), ('32', 'Manuel Ruiz', 'CABA'), ('35', 'Luciana Martinez', 'ROSARIO'), ('44', 'Anabella Luzuriaga', 'USHUAIA'), ('76', 'Jose Pelman', 'ROSARIO')]
(12, 'Greta Baez', 'USHUAIA')
(27, 'Santiago Lopez', 'LA PLATA')
(32, 'Manuel Ruiz', 'CABA')
(35, 'Luciana Martinez', 'ROSARIO')
(44, 'Anabella Luzuriaga', 'USHUAIA')
(76, 'Jose Pelman', 'ROSARIO')

In [28]:
conn.commit()

# EXTRACCION DE DATOS

In [38]:
#Vamos a hacer un JOIN y traer solo la informacion que queremos
sqlstr2 = ''' 
          SELECT 
          a.dni as dni_cliente,
          a.patente,
          au.marca,
          au.modelo,
          au.color,
          a.fechar,
          a.fechad,
          a.ciudad as ciudad_alquiler,
          c.nombre as nombre_cliente,
          c.ciudad as ciudad_cliente
          FROM alquila a  
          LEFT JOIN cliente c on c.dni = a.dni 
          LEFT JOIN auto au on au.patente = a.patente 
          WHERE c.nombre LIKE "%santiago%" 
          '''  
df = pd.read_sql(sqlstr2, conn)

In [39]:
df.head()

,dni_cliente,patente,marca,modelo,color,fechar,fechad,ciudad_alquiler,nombre_cliente,ciudad_cliente
0,27,omg987,Ford,Fiesta,azul,2015-03-20 12:14:43,2015-03-24 14:12:00,ROSARIO\n,Santiago Lopez,LA PLATA
1,27,fyi654,Chevrolet,Corsa,gris,2015-02-04 10:16:06,2015-02-04 16:24:22,CABA\n,Santiago Lopez,LA PLATA
2,27,lol123,Honda,Civic,beige,2015-07-04 09:23:58,2015-07-08 09:34:17,CORDOBA\n,Santiago Lopez,LA PLATA
3,27,fyi654,Chevrolet,Corsa,gris,2015-02-10 11:30:30,2015-02-11 11:29:00,CABA\n,Santiago Lopez,LA PLATA

In [ ]:
cur.close()